- content_for :title, 'Listing councils'
= link_to 'New Council', new_admin_council_path

%ul.tabs-nav.clearfix
  = a_to_z initial_list(@councils), 'councils'
%table
  %thead
    %tr
      %th Name
      %th
      - if current_user.admin
        %th.admin-only
  - last_letter = ''
  %tbody
    - @councils.each do |council|
      - this_letter = council.name.first.downcase
      %tr
        %td{ id: (this_letter != last_letter) ? "councils-by-#{this_letter}".html_safe : "" }= council.name
        %td= link_to 'Edit', edit_admin_council_path(council)
        - if current_user.admin
          %td.admin-only= link_to 'Delete', admin_council_path(council), method: :delete, confirm: 'Are you sure?'
      - last_letter = this_letter
