<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @address.name %>
</p>

<p>
  <b>Address1:</b>
  <%= @address.address_line_1 %>
</p>

<p>
  <b>Address2:</b>
  <%= @address.address_line_2 %>
</p>

<p>
  <b>Address3:</b>
  <%= @address.address_line_3 %>
</p>

<p>
  <b>Address4:</b>
  <%= @address.address_line_4 %>
</p>

<p>
  <b>Postcode:</b>
  <%= @address.postcode %>
</p>

<p>
  <b>Dx:</b>
  <%= @address.dx %>
</p>

<p>
  <b>Town:</b>
  <%= @address.town %>
</p>

<p>
  <b>Address type:</b>
  <%= @address.address_type %>
</p>

<p>
  <b>Court:</b>
  <%= @address.court %>
</p>


<%= link_to 'Edit', edit_admin_address_path(@address) %> |
<%= link_to 'Back', admin_addresses_path %>
