= simple_form_for([:admin, @area_of_law]) do |f|
  = f.error_notification
  .form-inputs
    = f.input :name
    = f.input :slug
    = f.input :old_id
    = f.association :group
    = f.input :external_link, label: 'GOV.UK link'
    = f.input :external_link_desc, label: 'Tooltip' 

  .form-actions
    = f.button :submit
