- content_for :title, 'Listing Areas of Law'
= link_to 'New Area of law', new_admin_area_of_law_path

%table
  %tr
    %th Name
    %th Old
    %th Action
    %th Group
    %th
    %th
  - @areas_of_law.each do |area_of_law|
    %tr
      %td= area_of_law.name
      %td= area_of_law.old_id
      %td= area_of_law.action
      %td= area_of_law.group
      %td
        = link_to 'Edit', edit_admin_area_of_law_path(area_of_law)
      %td
        = link_to 'Delete', admin_area_of_law_path(area_of_law), method: :delete, confirm: 'Are you sure?'
