<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @area_of_law.name %>
</p>

<p>
  <b>Old:</b>
  <%= @area_of_law.old_id %>
</p>


<%= link_to 'Edit', edit_admin_area_of_law_path(@area_of_law) %> |
<%= link_to 'Back', admin_areas_of_law_path %>
