<% content_for :title, 'Search results' %>

<% if @results.present? %>
  <% if @court_search.postcode_search? %>
    <% if @chosen_area_of_law && (@chosen_area_of_law.type_possession? || @chosen_area_of_law.type_bankruptcy? || @chosen_area_of_law.type_money_claims?) && @results.length > 0 %>
      <p> <%= "#{'Court'.pluralize(@results.count)}" %> dealing with applications involving <%= @chosen_area_of_law.name %> for the post code <strong><%= @court_search.query %></strong>: </p>
    <% elsif @chosen_area_of_law && (@chosen_area_of_law.type_children? || @chosen_area_of_law.type_adoption? || @chosen_area_of_law.type_divorce?) && (@results.length > 0) %>
      <p> <%= "#{'Court'.pluralize(@results.count)}" %> dealing with applications involving <%= @chosen_area_of_law.name %> for the post code <strong><%= @court_search.query %></strong>: </p>
    <% else %>
      <p>Results are ordered by distance closest to <strong><%= @court_search.query %></strong>. Your search found the following <%= @results.count %> results:</p>
    <% end %>
  <% else %>
    <p>Your search for <strong><%= @court_search.query %></strong> found the following <%= @results.count %> results:</p>
  <% end %>
  <ul class="search-results">
    <% @results.each do |court| %>
      <li>
        <ul class="areas-of-law">
          <% court.areas_of_law.each do |area| %>
            <li><%= area.name %></li>
          <% end %>
        </ul>
        <% qs = {} %>
        <% qs[:from] = params[:q] if @court_search.postcode_search? %>
        <%= link_to(court.name, court_path(court, qs)) %>
        <% if @court_search.postcode_search? && court.respond_to?(:distance) %>
          <br /><small><%= court.distance.to_f.round(2) %> miles from <%= params[:q] %></small>
        <% end %>
        <% if court.addresses.count > 0 %>
          <%= format_address court.addresses.first %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% else %>
  <% if @timeout %>
    <p>Your search has timed out. Please try again in a few minutes.</p>
    <script>
      ga('send', 'event', 'Error', 'Timeout', '<%= @query %>');
    </script>
  <% elsif @errors.present? %>
    <h2>There was a problem submitting the form</h2>
    <% @errors.each do |error| %>
      <p><%= error %></p>
    <% end %>
  <% else %>
    <p>Your search for <strong><%= @court_search.query %></strong> did not return any results.</p>
    <p>Please try another postcode or court name.</p>
  <% end %>
<% end %>
