<% content_for :title, 'Search results' %>

<p>Your search for <strong><%= @court_search.query %></strong> found the follow results:</p>
<% if @court_search.results %>
  <!-- <h2>Courts</h2> -->
  <ul class="search-results">
    <% @court_search.courts.each do | court | %>
      <li>
        <ul class="areas-of-law">
          <% court.areas_of_law.each do |area| %>
            <li><%= area.name %></li>
          <% end %>
        </ul>
        <% qs = {} %>
        <% qs[:from] = params[:q] if @court_search.postcode_search? %>
        <%= link_to(court.name, court_path(court, qs)) %>
        <% if @court_search.postcode_search? %>
          <br /><small><%= court.distance.to_f.round(2) %> miles from <%= params[:q] %></small>
        <% end %>
        <% if court.addresses.count > 0 %>
          <p><%= court.addresses.first.full('<br />').html_safe %></p>
        <% end %>
      </li>
    <% end %>
  </ul>
  <!-- <h2>Areas of law</h2>
  <ul>
    <% @court_search.areas_of_law.each do | area | %>
      <li><%= link_to(area.name, area_of_law_path(area)) %></li>
    <% end %>
  </ul> -->
<% end %>