<% if user_signed_in? %>
  <ul id="proposition-links">
    <li><%= link_to 'Courts or Tribunals', admin_courts_path %></li>
    <li><%= link_to 'Manage All Courts', areas_of_law_admin_courts_path %></li>
    <% if current_user.admin %>
        <li><%= link_to 'Address Types', admin_address_types_path %></li>
        <li><%= link_to 'Countries', admin_countries_path %></li>
        <li><%= link_to 'Counties', admin_counties_path %></li>
        <li><%= link_to 'Towns', admin_towns_path %></li>
        <li><%= link_to 'Court Types', admin_court_types_path %></li>
        <li><%= link_to 'Areas of Law', admin_areas_of_law_path %></li>
        <li><%= link_to 'Opening Types', admin_opening_types_path %></li>
        <li><%= link_to 'Contact Types', admin_contact_types_path %></li>
        <li><%= link_to 'Facilities', admin_facilities_path %></li>
        <li><%= link_to 'Regions', admin_regions_path %></li>
        <li><%= link_to 'Areas', admin_areas_path %></li>
        <li><%= link_to 'Users', admin_users_path %></li>
        <li><%= link_to 'Audit trail', audit_admin_courts_path(:csv) %></li>
    <% end %>
  </ul>
<% end %>
