<div id="user_nav">
  <% if user_signed_in? %>
    Logged in as <strong><%= current_user.email %></strong><%= " (administrator)" if current_user.admin? %>.
    <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to "Sign in", new_user_session_path %>
  <% end %>
</div>
<% if user_signed_in? %>
  <p>
    <%= link_to 'Courts', admin_courts_path %> |
    <%= link_to 'Address Types', admin_address_types_path %> |
    <%= link_to 'Countries', admin_countries_path %> |
    <%= link_to 'Counties', admin_counties_path %> |
    <%= link_to 'Towns', admin_towns_path %> |
    <%= link_to 'Court Types', admin_court_types_path %> |
    <%= link_to 'Areas of law', admin_areas_of_law_path %> |
    <%= link_to 'Opening Types', admin_opening_types_path %> |
    <%= link_to 'Contact Types', admin_contact_types_path %> |
    <%= link_to_if current_user.admin?, 'Users', admin_users_path %>
  </p>
<% end %>