<% content_for :type, 'service' %>
<% content_for :title, 'Find a court' %>

<section class="intro">
	<div class="get-started-intro">
		<p>Use this tool to find a Court, Tribunal or other building</p>
	</div>
</section>

<div class="find-nearest">
	<form method="get" action="/search" id="local-locator-form" class="find-location-for-service">
		<fieldset>
			<legend class="visuallyhidden">Postcode lookup</legend>
			<div class="ask_location">
				<label for="search-main">Enter a UK postcode or Court name <br />
					<input class="postcode" id="search-main" name="q" type="text" placeholder="Name or Postcode" autocomplete="off" />
				</label>
				<button type="submit" class="button">Find</button>
				<div id="results"></div>
				<p><small><a href="#" id="advanced-search">Search filters</a></small></p>
				<div id="filters">
					<label for="area_of_law">Area of law<br />
						<%= select_tag "area_of_law", options_from_collection_for_select(@areas_of_law, "name", "name"), :prompt => 'none' %>
					</label>
				</div>
			</div>
		</fieldset>
	</form>
</div>

<h3><%= link_to 'Browse courts', courts_path %></h3>
<h3><%= link_to 'Browse areas of law', areas_of_law_path %></h3>
<h3><%= link_to 'Browse regions', regions_path %></h3>

<script id="js">
	var moj = moj||{}; moj.courts = <%=raw @courts.to_json(:lookup => true) %>;
</script>