<% content_for :type, 'service' %>
<% content_for :title, 'Court and tribunal finder' %>
<% content_for :head do %>

	<% if Rails.env.production? %>
		<!-- Google Analytics Content Experiment code -->
		<script>function utmx_section(){}function utmx(){}(function(){var
		k='73895903-0',d=document,l=d.location,c=d.cookie;
		if(l.search.indexOf('utm_expid='+k)>0)return;
		function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
		indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
		length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
		'<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
		'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
		'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
		valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
		'" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
		</script><script>utmx('url','A/B');</script>
		<!-- End of Google Analytics Content Experiment code -->
	<% end %>
<% end %>

<section class="intro">
	<div class="get-started-intro">
		<p>Search for a court or tribunal in England and Wales, or a tribunal in Scotland.</p>
	</div>
</section>

<div class="find-nearest">
	<%= simple_form_for @search, url: search_path, html: { method: 'get', class: 'find-location-for-service', id: 'local-locator-form' } do |f| %>
		<fieldset>
			<legend class="visuallyhidden">Postcode lookup</legend>
			<div class="ask_location">
				<label for="search-main">Enter a UK postcode, court or tribunal name<br />
					<%= text_field_tag :q, @search.q, class: 'postcode', placeholder: 'e.g. SW1H9AJ or Liverpool Crown Court', autocomplete: 'off', id: 'search-main' %>
				</label>

				<div id="results"></div>

				<div id="filters">
					<label for="area_of_law">Area of law<br />
						<% if @search.errors[:area_of_law].present? %> <div class="error-text">You must select an area of law</div><% end %>
						<%= select_tag :area_of_law, area_of_law_groups(@search.area_of_law), prompt: 'Please select an area of law …' %>
					</label>
					<button type="submit" class="button">Search</button>
				</div>
			</div>
		</fieldset>
	<% end %>
</div>
<h3>Other search options</h3>
<p><%= link_to 'View all courts and tribunals', courts_path %></p>
<p><%= link_to 'View by region', regions_path %></p>
<p><%= link_to 'View by areas of law', areas_of_law_path %></p>
