- if @court.court_number.present? && @court.court_number != 0
  %p
    #{display_court_numbers(@court, true)}
-# === Photo ===
- if @court.image_file_url.present?
  = image_tag(@court.image_file_url.to_s, :id => 'court-photo', :property => 'image') if @court.image_file

-# === Addresses ===
- if @court.addresses.present?
  - visiting = @court.addresses.visiting.first
  - postal = @court.addresses.postal.first
  .addresses
    .visit
      - if visiting.present?
        %h3= postal.present? ? 'Visit us:' : 'Visit or write to us:'
        = format_address visiting

      - if @court.locatable? && !print_view
        %a.hidden-print(href="#location") Map and directions

    - if postal.present?
      .postal
        %h3 Write to us:
        = format_address postal

- unless print_view
  -# === Alert ===
  - if @court.alert.present?
    %p.help-notice= @court.alert

= render 'related_links'

-# === Opening times ===
- if @court.opening_times.present?

  %h2 Opening hours

  - @court.opening_times.each do |time|
    %p
      = precede time.opening_type.name do
        \: #{time.name}

-# === Emails ===
- if @court.emails.present?

  %h2 Email

  - @court.emails.each do |email|
    %p{:property => "contactPoint", :typeof => "ContactPoint"}
      - if email.contact_type and email.contact_type.name.present?
        %span{:property => "contactType"}
          = "#{email.contact_type.name}:"
      = format_email_address email.address

-# === Phone numbers ===
- if @court.contacts.present?

  %h2 Contact Numbers
  - contacts_for_view(@court.contacts).group_by(&:contact_type_id).each do |type, contacts|
    %p{:property => "telephone"}
      = succeed ": " do
        = enforce_label type
      = contacts_as_group contacts

-# === Map ===
- if @court.locatable?
  %div.court-location-wrapper
    %h2#location Location of the building
    %meta{:property => "map", :content => "http://maps.google.co.uk/maps?q=loc:#{@court.latitude}+#{@court.longitude}" }
    %form#directions.hidden-print{:action => "http://maps.google.co.uk/maps", :method => "get", :rel => "ext"}
      %label{:for => "saddr"} Enter a town or postcode to get directions
      %p
        %input{:name => "saddr", :type => "text", :value => params[:from]}
        %input{:name => "daddr", :type => "hidden", :value => "#{@court.latitude},#{@court.longitude}"}
        %input{:type => "submit", :value => "Get directions", :class => "button" }

    %div.hidden-print
      = gmaps({ "markers" => { "data" => @court.to_gmaps4rails }, "map_options" => { "auto_zoom" => false, "zoom" => 15 } })

    %div.static-map.visible-print
      %img{ :src => "http://maps.googleapis.com/maps/api/staticmap?center=#{@court.latitude},#{@court.longitude}&zoom=15&size=600x400&markers=#{@court.latitude},#{@court.longitude}&sensor=false" }

-# === Areas of law ===
- if @court.areas_of_law.present?

  %h2 Areas of law covered

  - areas = []
  - @court.areas_of_law.each_with_index do |area, i|
    - areas.push(i > 0 ? area.name.downcase : area.name)

  %p= areas.join ', '

-# === Facilities ===
- if @court.court_facilities.present?
  %h2.facilities-header Building facilities

  %p
    If you have a disability and need help coming to a hearing, please contact the court or tribunal to make sure the facilities meet your specific needs or to discuss a reasonable adjustment you need.

  %dl.facilities
    - @court.court_facilities.each do |court_facility|
      %dt
        %i.icon
          %img{:src => '/assets/facility_icons.png', :class => court_facility.facility.image, :alt => court_facility.facility.image_description, :title => court_facility.facility.name}
      - if court_facility.description.present?
        %dd= court_facility.description.html_safe

- unless print_view
  -# === Print links ===
  = render 'court_leaflets'

-# === Court info ===
- if @court.info.present?
  %h2 Further information
  %div{:property => "description"}= @court.info.html_safe
