
-# === Addresses ===
%div.court-addresses
  - if @court.addresses.present?
    - visiting = @court.addresses.visiting.first
    - postal = @court.addresses.postal.first
    .addresses
      - if visiting.present?
        .visit
          %h3= postal.present? ? 'Visit us:' : 'Visit or write to us:'
          = format_address visiting

          %p.maps
            - maps_url = "https://maps.google.com/maps?q=#{@court.latitude},#{@court.longitude}"
            %a{target: '_blank', href: maps_url, rel: 'external'} Maps and directions

      - if postal.present?
        .postal
          %h3 Write to us:
          = format_address postal

-# === Photo ===
%div.court-photo
  - if @court.image_file_url.present?
    = image_tag(@court.image_file_url.to_s, :id => 'court-photo', :property => 'image') if @court.image_file


-# === Main Content ===
%div.court-information
  - unless print_view
    -# === Alert ===
    - if @court.alert.present?
      %p.help-notice= @court.alert

  -# === Opening times ===
  - if @court.opening_times.present?

    %h2.court-opening-hours Opening hours

    - @court.opening_times.each do |time|
      %p
        = precede time.opening_type.name do
          \: #{time.name}

  -# === Emails ===
  - if @court.emails.present?

    %h2 Email

    - @court.emails.each do |email|
      %p{:property => "contactPoint", :typeof => "ContactPoint"}
        - if email.contact_type and email.contact_type.name.present?
          %span{:property => "contactType"}
            = "#{email.contact_type.name}:"
        = format_email_address email.address

  -# === Phone numbers ===
  - if @court.contacts.present? && @court.contacts.with_telephones.present?

    %h2 Phone Numbers
    - contacts_for_view(@court.contacts).group_by(&:contact_type_id).each do |type, contacts|
      %p{:property => "telephone"}
        = succeed ": " do
          = enforce_label type
        = contacts_as_group_for_telephones contacts

  -# === Directions to court ===
  - if @court.directions.present?

    %h2 Directions to the court
    %p= @court.directions

  -# === Facilities ===
  - if @court.court_facilities.present?
    %h2.facilities-header Building facilities

    %p
      If you have a disability and need help coming to a hearing, please contact the court or tribunal to make sure the facilities meet your specific needs or to discuss a reasonable adjustment you need.

    %dl.facilities
      - @court.court_facilities.each do |court_facility|
        %dt
          %i.icon
            %img{:src => '/assets/facility_icons.png', :class => court_facility.facility.image, :alt => court_facility.facility.image_description, :title => court_facility.facility.name}
        - if court_facility.description.present?
          %dd= court_facility.description.html_safe

  -# === Legal Professionals ===
  - if show_legal_professional_section?
    %h2 Legal professionals
    - if @court.court_number.present? && @court.court_number != 0
      %p
        #{display_court_numbers(@court, true)}
    - if @court.contacts.present? && @court.contacts.with_dx_numbers.present?
      %div.for-legal-professionals
        - contacts_for_view(@court.contacts, "only_dx_numbers").group_by(&:contact_type_id).each do |type, contacts|
          %p{:property => "telephone"}
            = succeed ": " do
              = enforce_label type
            = contacts_as_group_for_dx_numbers contacts


-# === Areas of law ===
%div.court-areas-of-law
  - if @court.areas_of_law.present?
    %h2 Areas of law covered

    - @court.areas_of_law.each do |area|
      %p #{area.name}
