- content_for :title, "You are a defence witness"
- content_for :last_updated, @court.updated_at.to_s(:standard)
- content_for :nav do
  %li
    = link_to 'Courts', courts_path
  %li
    = link_to @court.name, @court

%p.hidden-print.well
  = link_to 'Print this page', '#', :class => 'print-link'
  to take these details with you.


:markdown
  You have been asked to attend court as a defence witness. This information will help you.

  
  
  ## Introduction

  You may be a witness or a parent of a child witness who has been asked to attend court to give evidence on behalf of the person on trial (known as the defendant) You will already have been contacted by either the defendant or the solicitor acting on their behalf.

  The information in these pages helps you answer some of the questions you may have about going to court and will help you understand what happens at court.


= render 'court_details'


:markdown
  
  ## Roles and Responsibilities

  **The Witness Service:** The Witness Service helps witnesses and their families and friends before, during and after a court hearing.It is a national charity, which helps people cope with crime. If you come to court to give evidence a Witness Service representative will offer you support.

  
  
  ## Before you arrive

  You can arrange with the Witness Service to visit the court in advance of the trial. This may make you feel more confident about attending court to give evidence. If you think this might help, please call the Witness Service using the contact details provided.
  
  If you feel you need to wait away from the public area please tell the Court Usher or Witness Service representative who will try to make alternative arrangements. Family and friends attending with you may not be allowed to wait in the private waiting areas in which case they will be seated elsewhere, away from the prosecution witness wherever possible. Ask the Witness Service before attending.
  
  If you have particular needs, possibly arising out of a disability or religious observance, please let someone know in advance of the day you are due to attend by contacting the solicitor representing the defendant or by calling the Witness Service representative, please see contact details for information.
  
  If you are a child or young witness, special arrangements for your needs will be made by the solicitor.
  
  There are no facilities for children, who are not witnesses, to be looked after at court so avoid bringing children with you if possible.
  
  If you have to bring your child to court, please bring an adult friend or relative to sit with them whilst you give your evidence, as court staff are unable to help.
  
  It is important to inform the solicitor, or the person asking you to come to court, if you have any difficulties attending on the date you have been given. Please ensure that you have confirmed in advance, with the solicitor or with the person that asked you to attend, that you will be attending on the date and at the time specified.
  
  Please let the solicitor know, preferably in advance of the trial, if you have any commitments during the day which cannot be changed for example, children at school who need to be collected.

  
  
  ## On arrival

  You should arrive at court at the time notified to you which is usually 30 minutes before the trial or the hearing is due to start. If you anticipate any difficulties with getting to court on time on the day, please notify the person asking you to attend immediately. It is important that the court knows of any possible delay otherwise it may think that you are not coming. You, as with other court users, will be required to undergo standard security checks.
  
  Unless special arrangements have been made for you, when you arrive at court go straight to the reception point, tell the receptionist your name and that you are a defence witness.
  
  If you have asked for the support from the Witness Service, you will be introduced to their representative who will take you to a waiting area.
  
  If you are attending alone, you will be directed to the public waiting area. The person who has asked you to attend will be informed that you have arrived and they will come and speak to you.
  
  
  
  ## Before you give evidence

  Arrangements can be made for you to see where you will be giving evidence. Generally this is done at a pre-trial visit, although this may occasionally be possible on the day if time allows. Please ask the Court Usher or the Witness Service representative.
  
  You will give evidence in a courtroom, or in a room away from the court if special arrangements have been made for you i.e video links.
  
  It might be a while since you have seen the written statement that you made. You should be given the chance to see it again before you give evidence. If not, then please ask the solicitor or the person who asked you to attend. It might help to refresh your memory.
  
  Oath taking procedures will be explained to you and you will be asked whether you want to swear to tell the truth on the holy book of your religion or whether you wish to make an affirmation which is a non-religious way of swearing to tell the truth. If you are a witness in a Youth Court you will promise to tell the truth or affirm. You will be asked about other rituals and practices you may want to observe before giving evidence.
  
  Light refreshments may be available for you to buy. Please see the facilities section for more information. You may have access to toilets within close proximity to your waiting area.
  
  We aim to call you to give your evidence within two hours of the start time, although this is not always possible.
  
  We will provide you with regular updates on the progress of the case and explain the reasons for any delay, where possible. If you are likely to have to wait a long time, the court will consider letting you leave court to return at a later time.

  
  
  ## Giving your evidence

  You will be accompanied, usually by a court usher or a member of the Witness Service to the courtroom, where you are going to give your evidence.
  
  In the courtroom, you will be asked by the Court Usher to take the oath or affirm in accordance with the procedures already explained to you.
  
  If you are not required to give evidence the reason for this will be explained to you.

  
  
  ## After you have given your evidence

  When you have finished giving your evidence you will be thanked and will be told whether you are allowed to leave. If you wish to stay and watch the rest of the case, this will be arranged if the Court agrees.

  
  
  ## After your case has finished

  You should be told the result of your case by the person who has asked you to come to court.

  You may be able to claim the cost of having to come to court. You should ask the solicitor to make the application before you leave. If this is not done, then you must send your claim in writing to the court you attended. If you have receipts, you should send these with your claim.
  
  If there is an appeal against the decision of the court then it may be necessary for you to attend court again. The solicitor who called you will explain the procedure to you.

  
  
  ## Feedback and complaints

  Your comments are important to us. If you wish to provide any feedback on the service you received when attending court or wish to make suggestions as to how we might improve our service, please write to the Court Manager at the Court you have attended - please see contact details for further information.
  
  If you wish to make a complaint about the service you received, please ask a member of staff at the court or the Court Manager for an EX343 'Complaints leaflet', which you can fill in with the details of your complaint. If you have any comments on this leaflet you can email your comments to victim.witnessbranch@hmcts.gsi.gov.uk.

  
  
  ## What additional help is available for court users with a disability?

  If you have a disability which makes going to court or communicating difficult, please contact a member of staff at the court. If you are deaf or hard of hearing and require assistance the following services can help you once you have obtained the relevant court telephone number: Textphone users calling voicephones or textphones dial 18001, Voicephone users calling textphones or voicephones dial 18002, Text relay service on 0870 240 5152.

  
  
  ## More information

  Further information on going to court can be obtained from: Website: www.justice.gov.uk - visit the web page on 'Being a Witness'
  
  **DVD:** 'Going to Court - A step by step guide to being witness' is available at http://www.youtube.com/watch?v=aUOc0Sa1WMM&list=TLFjqN6RUpB1o

  **Large print versions of this leaflet are available**

  A generic version of this leaflet (i.e this will not include a map of the local court you have been asked to attend) is available in the following languages: English large print, Welsh, Arabic, Bengali, Cantonese, Gujarati, Hindi, Polish, Punjabi and Urdu.
  
  
  
  ## Getting to the court

  To plan your route to this court, please visit the Court Information and Addresses section of the Justice Website #{root_url}
  
  Choose **#{@court.name}** from the Court Name Search and select Get Court Details. On the Court Information page enter your postcode on the Route Planner on the right- hand side to get a detailed description of your journey by bus, train or car.
