<% content_for :title, 'Courts and tribunals' %>

<p class="intro">A-Z list of all courts and tribunals, followed by their court/tribunal number (eg #3211).</p>

<% if @courts.visible.present? %>
  <div id="search-results-tabs" class="js-tabs">
    <nav class="tabs-nav" role="navigation">
      <ul id="search-index-navigation" class="cf">
        <%= a_to_z initial_list(@courts.visible) %>
      </ul>
    </nav>

    <div class="search-container group js-tabs-content tabs-content">
      <% initial_list(@courts.visible).each do |letter| %>
        <div id="courts-by-<%= letter.first.downcase %>">
          <h2><%= letter.first %></h2>
          <% letter[1].each do |court| %>
            <br /><%= link_to(court.name, court_path(court)) %> 
            <% if court.court_number.present? && court.court_number != 0 %>
            (#<%= court.court_number %>)
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
