<% content_for :title, 'Courts' %>

<% if user_signed_in? %>
  <%= link_to "Edit courts", admin_courts_path %>
<% end %>

<% visible_courts = @courts.visible %>

<% if visible_courts.present? %>
  <% letters = visible_courts.group_by{|s|s.name[0,1].upcase}.map {|letter|letter[0]} %>

  <div id="search-results-tabs">
    <nav class="js-tabs nav-tabs" role="navigation">
      <ul id="search-index-navigation">
        <% letters.each do |l| %>
          <li><%= link_to l, "#courts-by-#{l.downcase}" %></li>
        <% end %>
      </ul>
    </nav>

    <div class="search-container group js-tab-content tab-content">
      <% visible_courts.group_by{|s|s.name[0,1].upcase}.each do |letter| %>
        <div id="courts-by-<%= letter[0].downcase %>" class="js-tab-pane tab-pane">
          <h3><%= letter[0] %></h3>
          <% letter[1].each do |court| %>
            <br /><%= link_to(court.name, court_path(court)) %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  
  <%#= will_paginate visible_courts %>
<% end %>