<% content_for :title, 'Courts and Tribunals' %>

<% if @courts.visible.present? %>
  <% letters = @courts.visible.group_by{|s|s.name[0,1].upcase}.map {|letter|letter[0]} %>

  <div id="search-results-tabs">
    <nav class="js-tabs nav-tabs" role="navigation">
      <ul id="search-index-navigation">
        <% letters.each do |l| %>
          <li><%= link_to l, "#courts-by-#{l.downcase}" %></li>
        <% end %>
      </ul>
    </nav>

    <div class="search-container group js-tab-content tab-content">
      <% @courts.visible.group_by{|s|s.name[0,1].upcase}.each do |letter| %>
        <div id="courts-by-<%= letter[0].downcase %>" class="js-tab-pane tab-pane">
          <h3><%= letter[0] %></h3>
          <% letter[1].each do |court| %>
            <br /><%= link_to(court.name, court_path(court)) %> 
            <% if court.court_number.present? && court.court_number != 0 %>
            (Court/tribunal no. <%= court.court_number %>)
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
