<h1><%= @court.name %></h1>
<p>Court address id <%= @court.old_court_address_id %></p>
<p>Area id <%= @court.area_id %></p>
<p>CCI identifier <%= @court.cci_identifier %></p>
<p>court code <%= @court.cci_code %> </p>
<p>old id <%= @court.old_id %></p>
<p>old postal addr id <%= @court.old_postal_address_id %></p>
<p>old court address id <%= @court.old_court_address_id %></p>
<p>court type <%= @court.old_court_type_id %></p>

<p>court area <%= @court.area %></p>
<p>addr line 1 <%= @court.address_line_1 %></p>
<p>addr line 2 <%= @court.address_line_2 %></p>
<p>addr line 3 <%= @court.address_line_3 %></p>
<p>addr line 4 <%= @court.address_line_4 %></p>


<p>postcode <%= @court.postcode %></p>
<p>dx number <%= @court.dx_number %></p>
<p>Town id <%= @court.court_town_id %></p>
<p>court latitude <%= @court.court_latitude %></p>
<p>court longitude <%= @court.court_longitude %></p>