<% content_for :title, @court.name %>
<% content_for :nav do %>
  <li>
    <%= link_to 'Courts', courts_path %>
  </li>
<% end %>

<% if user_signed_in? %>
  <%= link_to "Edit this court", edit_admin_court_path(@court) %>
<% end %>

<%= image_tag @court.image if @court.image %>

<h3>Areas Of Law</h3>
<p>
	<% @court.areas_of_law.each do |area| %>
		<%= link_to area.name, area_of_law_path(area) %>
	<% end %>
</p>

<h3>Court Types</h3>
<p>
	<% @court.court_types.each do |type| %>
		<%= link_to type.name, court_type_path(type) %>
	<% end %>
</p>

<h3>About this court</h3>
<%= @court.info.html_safe %>

<h3>Contact us</h3>
<% @court.contacts.order(:sort).each do |contact| %>
	<p><%= contact.contact_type.name if contact.contact_type %><%= " (#{contact.name})" if contact.name.present? %>: <%= contact.telephone %></p>
<% end %>
<% @court.emails.each do |email| %>
	<p><%= mail_to email.address %></p>
<% end %>

<% if @court.addresses.length == 1 %>
	<h3>Visiting and writing to us</h3>
<% else %>
	<h3>Visiting us</h3>
<% end %>

<% visiting = @court.addresses.first %>
<p><%= visiting.address_line_1 %><br />

<% if visiting.address_line_2.present? %>
	<%= visiting.address_line_2 %><br />
<% end %>
<% if visiting.address_line_3.present? %>
	<%= visiting.address_line_3 %><br />
<% end %>
<% if visiting.address_line_4.present? %>
	<%= visiting.address_line_4 %><br />
<% end %>
<%= visiting.postcode %><br />
<%= visiting.dx %>

</p>

<% if @court.addresses.length > 1 %>
	<h3>Writing to us</h3>
		<% postal = @court.addresses.where(['id <> ?', visiting.id]) %>
		<% postal.each do |addr| %>
			<p><%= addr.address_line_1 %><br />

			<% if addr.address_line_2.present? %>
				<%= addr.address_line_2 %><br />
			<% end %>
			<% if addr.address_line_3.present? %>
				<%= addr.address_line_3 %><br />
			<% end %>
			<% if addr.address_line_4.present? %>
				<%= addr.address_line_4 %><br />
			<% end %>
			<%= addr.postcode %><br />
			<%= addr.dx %>
		<% end %>
<% end %>

</p>


<h3>Opening times</h3>
<% @court.opening_times.each do |time| %>
	<p><%= time.opening_type.name %>: <%= time.name %></p>
<% end %>

<h3>Facilities</h3>
<% @court.court_facilities.each do |court_facility| %>
	<dl>
		<dt><%= court_facility.facility.name if court_facility.facility %></dt>
		<dd><%= court_facility.description %></dd>
	</dl>
<% end %>

<h3>Map</h3>
<h3>Route planner</h3>

<p>Court address id <%= @court.old_court_address_id %></p>

<p>Area id <%= @court.area_id %></p>
<p>CCI identifier <%= @court.cci_identifier %></p>
<p>court code <%= @court.cci_code %> </p>
<p>old id <%= @court.old_id %></p>

<p>old postal addr id <%= @court.old_postal_address_id %></p>
<p>old court address id <%= @court.old_court_address_id %></p>
<p>court type id <%= @court.old_court_type_id %></p>
