<h1><%= @court.name %></h1>
<%= @court.old_court_address_id %>
<%= @court.area_id %>
<%= @court.cci_identifier %>
<%= @court.cci_code %> 
<%= @court.old_id %>
<%= @court.old_postal_address_id %>
<%= @court.old_court_address_id %>
<%= @court.old_court_type_id %>