<% content_for :title, @court.name %>
<% content_for :titleMetadata, 'itemprop="name"'.html_safe %>
<% content_for :contentMetadata, 'itemscope itemtype="http://schema.org/Courthouse"'.html_safe %>
<% content_for :last_updated, @court.updated_at.to_s(:standard) %>
<% content_for :nav do %>
  <li>
    <%= link_to 'Courts', courts_path %>
  </li>
<% end %>

<% if user_signed_in? %>
  <%= link_to "Edit this court", edit_admin_court_path(@court) %>
<% end %>

<% if @court.display %>

<% content_for :title_image, image_tag(@court.image_file, :id => 'title-image', :itemprop => 'image') if @court.image_file %>

<h3>Areas Of Law</h3>
<p>
	<% @court.areas_of_law.each do |area| %>
		<%= link_to area.name, area_of_law_path(area) %>
	<% end %>
</p>

<% addresses = @court.addresses %>
<% visiting = addresses.shift %>

<% if addresses.present? %>
	<div id="writing">
		<h3>Writing to us</h3>
			<% addresses.each do |addr| %>
        <div>
          <%= format_address addr %>
        </div>
			<% end %>
	</div>
<% end %>

<% if addresses.empty? %>
	<h3>Visiting and writing to us</h3>
<% else %>
	<h3>Visiting us</h3>
<% end %>

<% if visiting.present? %>
  <div itemscope itemtype="http://schema.org/PostalAddress" itemprop="address">
    <%= format_address visiting %>
  </div>
<% end %>

<!-- <h3>Opening times</h3> -->
<% @court.opening_times.each do |time| %>
	<p><%= time.opening_type.name %>: <%= time.name %></p>
<% end %>

<h3>Contact us</h3>
<% @court.contacts.order(:sort).each do |contact| %>
	<p itemprop="contactPoint" itemscope itemtype="http://schema.org/ContactPoint">
    <% if contact.contact_type.present? %><span itemprop="contactType"><%= contact.contact_type.name %></span><% end %>
    <%= " (#{contact.name})" if contact.name.present? %>: 
    <span itemprop="telephone"><%= contact.telephone %></span>
  </p>
<% end %>
<% @court.emails.each do |email| %>
	<p itemprop="contactPoint" itemscope itemtype="http://schema.org/ContactPoint">
    <% if email.description.present? %><span itemprop="contactType"><%= "#{email.description}" %></span><% end %>
    <span itemprop="email"><%= mail_to email.address %></span>
  </p>
<% end %>

<% unless @court.info.nil? %>
  <h3>About this court</h3>
  <div itemprop="description">
    <%= @court.info.html_safe %>
  </div>
<% end %>


<h3>Facilities</h3>
<% @court.court_facilities.each do |court_facility| %>
	<dl>
		<dt><%= court_facility.facility.name if court_facility.facility %></dt>
		<dd><%= court_facility.description %></dd>
	</dl>
<% end %>

<h3>Map</h3>

<form action="<%= court_path(@court) %>" method="get">
	<%= text_field_tag 'from', params[:from] %>
	<input type="submit" value="Get directions">
</form>

<% if params[:from].present? %>
	<%= gmaps({
		"direction" => { "data" => { "from" => params[:from], "to" => visiting.full }, "options" => { "display_panel" => true, "panel_id" => "instructions"} }
	}) %>
	<h3>Route planner</h3>
	<div id="instructions"></div>
<% else %>
	<%= gmaps({
		"markers" => {"data" => @court.to_gmaps4rails}, 
		"map_options" => {"auto_zoom" => false, "zoom" => 15}
	}) %>
<% end %>


<!-- <p>Area id <%= @court.area_id %></p> -->
<!-- <p>CCI identifier <%= @court.cci_identifier %></p> -->
<!-- <p>court code <%= @court.cci_code %> </p> -->

<% else %>

<p>This court is no longer in service.</p>

<% end %>
