- content_for :title, @court.name
- content_for :titleMetadata, 'itemprop="name"'.html_safe
- content_for :contentMetadata, 'vocab="http://schema.org/" typeof="Courthouse GovernmentOrganization"'.html_safe
- content_for :last_updated, @court.updated_at.to_s(:standard)
- content_for :nav do
  %li
    = link_to 'Courts', courts_path


-# Admin only
= link_to "Edit this court", edit_admin_court_path(@court) if user_signed_in?


- if @court.display



  -# === Alert ===
  - if @court.alert.present?
    %p.alert= @court.alert



  -# === Addresses ===

  - addresses = @court.addresses
  - visiting = addresses.primary
  - postal = addresses.all
  - postal.delete visiting

  - if addresses.present?
    .addresses
      .visit
        %h3= postal.empty? ? 'Visit or write to us:' : 'Visit us:'
        - if visiting.present?
          = format_address visiting

        - if @court.locatable?
          %a(href="#location") Show this on a map
      
      - if postal.present?
        .postal
          %h3 Write to us:
          - postal.each do |addr|
            = format_address addr
  
    -# === Photo ===
    - if @court.image_file_url.present?
      = image_tag(@court.image_file_url.to_s, :id => 'title-image', :property => 'image') if @court.image_file



  -# === Opening times ===
  - if @court.opening_times.present?

    %h3 Opening hours:
    
    - @court.opening_times.each do |time|
      %p
        = time.opening_type.name
        \: #{time.name}

  

  -# === Contacts ===
  - if @court.contacts.present?

    %h3 Contact the court:

    - @court.contacts.each do |contact|
      - if contact.contact_type.present?
        - if contact.telephone?
          %p{:property => "telephone"}
            = contact.contact_type.name
            \: #{contact.telephone}
        - else
          %p= contact.contact_type.name



  -# === Emails ===
  - if @court.emails.present?
    
    %h3 Other contact details:

    - @court.emails.each do |email|
      %p{:property => "contactPoint", :typeof => "ContactPoint"}
        - if email.description.present?
          %span{:property => "contactType"}
            = "#{email.description}"
        = format_email_address email.address

  
  
  -# === Areas of law ===
  - if @court.areas_of_law.present?
    
    %h3 Areas of law covered:

    - areas = []
    - @court.areas_of_law.each_with_index do |area, i|
      - areas.push(i > 0 ? area.name.downcase : area.name)
    
    %p= areas.join ', '



  -# === Facilities ===
  - if @court.court_facilities.present?
    
    %h3 Court facilities available:

    - @court.court_facilities.each do |court_facility|
      %dl
        %dt
          %i.icon
            %img{:src => '/assets/facility_icons.png', :class => court_facility.facility.image, :alt => court_facility.facility.image_description, :title => court_facility.facility.name}
        %dd= court_facility.description.html_safe



  -# === Print links ===
  %h3.icon-print Court information leaflets (ready to print):
  %ul.unstyled
    %li= link_to 'Court information leaflet', '#', :class => 'print-link'
    %li= link_to 'Defence witness leaflet', defence_path(@court)
    %li= link_to 'Prosecution witness leaflet', prosecution_path(@court)

  

  -# === Map ===
  - if @court.locatable?
    %h3#location Location of the court:

    %form#directions{:action => "http://maps.google.com/maps", :method => "get", :rel => "ext"}
      %label{:for => "saddr"} Enter your location
      %input{:name => "saddr", :type => "text", :value => params[:from]}
      %input{:name => "daddr", :type => "hidden", :value => "#{@court.latitude},#{@court.longitude}"}
      %input{:type => "submit", :value => "Get directions"}

    = gmaps({"markers" => {"data" => @court.to_gmaps4rails}, "map_options" => {"auto_zoom" => false, "zoom" => 15} })



  -# === Court info ===
  - if @court.info.present?
    %h3 Further information:
    %div{:itemprop => "description"}= @court.info.html_safe


- else

  -# === Court closed ===
  %p This court is no longer in service.
