<h1><%= @court.name %></h1>
<h3>About this court</h3>
<h3>Contact us</h3>
<h3>Visiting us</h3>


<h3>Writing to us</h3>


<h3>Opening times</h3>
<h3>Map</h3>
<h3>Route planner</h3>

<p>Court address id <%= @court.old_court_address_id %></p>

<p>Area id <%= @court.area_id %></p>
<p>CCI identifier <%= @court.cci_identifier %></p>
<p>court code <%= @court.cci_code %> </p>
<p>old id <%= @court.old_id %></p>

<p>old postal addr id <%= @court.old_postal_address_id %></p>
<p>old court address id <%= @court.old_court_address_id %></p>
<p>court type id <%= @court.old_court_type_id %></p>
