<h1><%= @court.name %></h1>
<p>Area id <%= @court.area_id %></p>
<p>CCI identifier <%= @court.cci_identifier %></p>
<p>court code <%= @court.cci_code %> </p>
<p>old id <%= @court.old_id %></p>
<p>court type <%= @court.old_court_type_id %></p>

<p>court area <%= @court.area %></p>
