<%= content_for :title, 'Listing Court Types' %>

<%= link_to 'New Court type', new_admin_court_type_path %>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
  </tr>

<% @court_types.each do |court_type| %>
  <tr>
    <td><%= court_type.name %></td>
    <td><%= link_to 'Edit', edit_admin_court_type_path(court_type) %></td>
    <td><%= link_to 'Delete', admin_court_type_path(court_type), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
