<h1>Listing towns</h1>

<table>
  <tr>
    <th>Name</th>
    <th>County</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @towns.each do |town| %>
  <tr>
    <td><%= town.name %></td>
    <td><%= town.county %></td>
    <td><%= link_to 'Show', admin_town_path(town) %></td>
    <td><%= link_to 'Edit', edit_admin_town_path(town) %></td>
    <td><%= link_to 'Destroy', admin_town_path(town), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Town', new_admin_town_path %>
