<%= content_for :title, 'Listing Towns' %>

<%= link_to 'New Town', new_admin_town_path %>

<table>
  <tr>
    <th>Name</th>
    <th>County</th>
    <th></th>
    <th></th>
  </tr>

<% @towns.each do |town| %>
  <tr>
    <td><%= town.name %></td>
    <td><%= town.county.name if town.county.present? %></td>
    <td><%= link_to 'Edit', edit_admin_town_path(town) %></td>
    <td><%= link_to 'Delete', admin_town_path(town), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
