<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @town.name %>
</p>

<p>
  <b>County:</b>
  <%= @town.county.name %>
</p>


<%= link_to 'Edit', edit_admin_town_path(@town) %> |
<%= link_to 'Back', admin_towns_path %>
