<h1>Listing areas</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Region</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @areas.each do |area| %>
  <tr>
    <td><%= area.name %></td>
    <td><%= area.region %></td>
    <td><%= link_to 'Show', admin_area_path(area) %></td>
    <td><%= link_to 'Edit', edit_admin_area_path(area) %></td>
    <td><%= link_to 'Destroy', admin_area_path(area), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Area', new_admin_area_path %>
