<%= simple_form_for([:admin, @facility], html: { multipart: true }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :image_description %>
    <%- if @facility.image.present? %>
      <%= f.input :image %>
    <% end %>
    <%= f.input :image_file, as: :file, hint: 'Only png with dimensions of 50x50px is allowed.' %>
    <%- if @facility.image.present? %>
      <%= image_tag @facility.image_file.url, title: @facility.image_description %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
