<%= content_for :title, 'Listing Facilities' %>

<%= link_to 'New Facility type', new_admin_facility_path %>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Image</th>
    <!-- <th></th> -->
    <th></th>
    <th></th>
  </tr>

<% @facilities.each do |facility| %>
  <tr>
    <td><%= facility.name %></td>
    <td><%= facility.image_description %></td>
    <td>
      <%- if facility.image_file.present? %>
        <%= image_tag facility.reload.image_file.url, title: facility.image_description %>
      <% else %>
        <%= facility.image %>
      <% end %>
    </td>
    <!-- <td><%= link_to 'Show', admin_facility_path(facility) %></td> -->
    <td><%= link_to 'Edit', edit_admin_facility_path(facility) %></td>
    <td><%= link_to 'Delete', admin_facility_path(facility), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />
