<h1>Listing facilities</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Image</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @facilities.each do |facility| %>
  <tr>
    <td><%= facility.name %></td>
    <td><%= facility.image_description %></td>
    <td><%= facility.image %></td>
    <td><%= link_to 'Show', admin_facility_path(facility) %></td>
    <td><%= link_to 'Edit', edit_admin_facility_path(facility) %></td>
    <td><%= link_to 'Destroy', admin_facility_path(facility), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Facility type', new_admin_facility_path %>
