<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @facility.name %>
</p>

<p>
  <b>Image description:</b>
  <%= @facility.image_description %>
</p>

<p>
  <b>Image:</b>
  <%- if @facility.image_file %>
    <%= image_tag @facility.image_file.url, title: @facility.image_description %>
  <% else %>
    <%= @facility.image %>
  <% end %>
</p>


<%= link_to 'Edit', edit_admin_facility_path(@facility) %> |
<%= link_to 'Back', admin_facilities_path %>
