<%= simple_form_for(@address) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :address_type %>
    <%= f.input :name %>
    <%= f.input :address1 %>
    <%= f.input :address2 %>
    <%= f.input :address3 %>
    <%= f.input :address4 %>
    <%= f.input :postcode %>
    <%= f.input :dx %>
    <%= f.association :town %>
    <%#= f.association :court %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
