<%= form_for @feedback, :url => feedback_path, :html => {:novalidate => 'novalidate'} do |f| %>
  <% if @feedback.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@feedback.errors.count, "error") %> prohibited your feedback from being sent:</h2>
      <ul>
      <% @feedback.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
    <legend>Rate the court finder web service</legend>
    <%= f.radio_button :rating, "5" %>
    <%= f.label :rating, "Very good", :value=>"5", :class=>"radio" %>
    <%= f.radio_button :rating, "4" %>
    <%= f.label :rating, "Good", :value=>"4", :class=>"radio" %>
    <%= f.radio_button :rating, "3" %>
    <%= f.label :rating, "Unsure", :value=>"3", :class=>"radio" %>
    <%= f.radio_button :rating, "2" %>
    <%= f.label :rating, "Bad", :value=>"2", :class=>"radio" %>
    <%= f.radio_button :rating, "1" %>
    <%= f.label :rating, "Very bad", :value=>"1", :class=>"radio" %>
    <div>
    <br/>
    <%= f.label :text, "Comments (Please don't leave any sensitive personal details, like your phone number)" %>
    <%= f.text_area :text, :cols => 50, :rows => 5 %>
    <br/><span class="char-limit">2000 characters max</span>
    </div>
    <div>
      <label for="feedback_email">Your email address (optional). <br/>If you consent to us contacting you to learn more about your opinions of this service, please leave your email address here</label>
      <br/><%= f.email_field :email %>
    </div>
    <div>
      <br/>
      <input type ="hidden" name="referrer" value="<%= params[:referrer] %>" />
      <%= f.submit "Send", :class => "button", :id => "submit-button" %>
    </div>
  </fieldset>
<% end %>
