<fieldset>
  <%= f.input :is_primary, :as => 'hidden', :value => f.object.is_primary %>
  <%= f.association :address_type, :include_blank => false %>
  <%= f.input :address_line_1 %>
  <%= f.input :address_line_2 %>
  <%= f.input :address_line_3 %>
  <%= f.input :address_line_4 %>
  <%= f.association :town, :collection => towns_with_county_where_duplicates_exist %>
  <%= f.input :postcode %>

  <div class="destroy">
    <a href="#" class="remove"><span class="ui-icon ui-icon-circle-minus"></span>remove this address</a>
    <a href="#" class="undo"><span class="ui-icon ui-icon-arrowreturnthick-1-w"></span>keep this address</a>
    <%= f.check_box :_destroy %>
    <%= f.label :_destroy, "Remove this Address" %>
  </div>

  <hr />
</fieldset>
