<li>
  <div class="sortable-summary">
    <span class="ui-icon ui-icon-grip-dotted-vertical"></span>
    <span class="type"></span>: <span class="tel"><span></span>
  </div>
  <fieldset id="contact-element">
    <%= f.association :contact_type, :include_blank => false %>
    <%= f.input :telephone %>
    <%= f.input :in_leaflet, :label => 'Show this contact in print out' %>
    <%= f.input :sort %>

    <div class="destroy">
      <a href="#" class="remove"><span class="ui-icon ui-icon-circle-minus"></span>remove this contact</a>
      <a href="#" class="undo"><span class="ui-icon ui-icon-arrowreturnthick-1-w"></span>keep this contact</a>
      <%= f.check_box :_destroy %>
      <%= f.label :_destroy, "Remove this contact" %>
    </div>
    <hr />
  </fieldset>
</li>
