<li>
  <div class="sortable-summary">
    <span class="ui-icon ui-icon-grip-dotted-vertical"></span>
    <span class="type"><%= f.object.contact_type.name if f.object.contact_type.present? %></span>:
    <span class="tel"><%= f.object.telephone if f.object.telephone.present? %></span>
  </div>
  <fieldset>
    <%= f.association :contact_type, :include_blank => false %>
    <%= f.input :name %>
    <%= f.input :telephone %>
    <%= f.input :in_leaflet, :label => 'Show this contact in print out' %>
    <%= f.input :sort %>
    <%= f.check_box :_destroy %>
    <%= f.label :_destroy, "Remove this Contact" %>
    <hr />
  </fieldset>
</li>