<li>
  <div class="sortable-summary">
    <span class="ui-icon ui-icon-grip-dotted-vertical"></span>
    <span class="type"></span>: <span class="add"></span>
  </div>

  <fieldset>
    <%= f.association :contact_type, :include_blank => false %>
    <%= f.input :address %>
    <%= f.input :sort %>
    <div class="destroy">
      <a href="#" class="remove"><span class="ui-icon ui-icon-circle-minus"></span>remove this email</a>
      <a href="#" class="undo"><span class="ui-icon ui-icon-arrowreturnthick-1-w"></span>keep this email</a>
      <%= f.check_box :_destroy %>
      <%= f.label :_destroy, "Remove this email" %>
    </div>
    <hr />
  </fieldset>
</li>