<%= simple_form_for([:admin, @court], :html => {:multipart => true}) do |f| %>
  <% if @court.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@court.errors.count, "error") %> prohibited this court from being saved:</h2>

      <ul>
      <% @court.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p class="visuallyhidden">
    Old ID: <%= @court.old_id %> :
    Old Court Type ID: <%= @court.old_court_type_id %>
    Image ref: <%= @court.image %>
  </p>

  <p>Items marked * are mandatory</p>

  <%= f.input :name %>
  <%= f.input :slug, :wrapper_html => { :class => 'admin-only'}, :hint => '(Admin only) A unique identifier which forms part of the URL. Leave blank for it to auto-generate.' if current_user.admin %>
  <%= f.input :court_number, :wrapper_html => { :class => 'admin-only' } if current_user.admin %>
  <%= f.input :cci_identifier %>
  <%= f.input :cci_code %>
  <%= f.association :area, :hint => 'Used on <a href="/regions" rel="help">Browse regions</a>' %>

  <h2>Temporary alert</h2>
  <p>Use this field to display a temporary notice of building closure. This is limited to 140 characters including spaces.</p>
  <%= f.input :alert, :maxlength => 140, :hint => 'Remove all text to hide the alert' %>

  <div id="group-addresses">
    <h2>Addresses</h2>
    <%= f.simple_fields_for :addresses do |builder| %>
      <%= render 'address_fields', f: builder %>
    <% end %>
    <%= link_to_add_fields "Add address", f, :addresses, 'initNewAddressBlock' %>
  </div>
  
  <h2>Photo</h2>
  <%= image_tag @court.image_file, :width => '160px' if @court.image_file.present? %>
  <%= f.input :image_file %>
  <div class="input boolean optional">
    <label for="court_remove_image_file" class="boolean optional control-label checkbox"><%= f.check_box :remove_image_file %> remove photo</label>
  </div>

  <div id="group-opening-times">
    <a href="#" class="field-group" data-alt="edit opening times">reorder opening times</a>
    <h2>Opening times</h2>
    <p>Please adhere to the Gov.uk content design principles when <a href="https://www.gov.uk/designprinciples/styleguide#dates-and-times" rel="ext help">entering dates and times</a>.</p>
    <ul class="sortable">
      <%= f.simple_fields_for :opening_times do |builder| %>
        <%= render 'opening_time_fields', f: builder %>
      <% end %>
    </ul>
    <%= link_to_add_fields "Add opening time", f, :opening_times, 'initNewFieldBlock' %>
  </div>

  <div id="group-contacts">
    <a href="#" class="field-group" data-alt="edit contacts">reorder contacts</a>
    <h2>Contacts</h2>
    <ul class="sortable">
      <%= f.simple_fields_for :contacts do |builder| %>
        <%= render 'contact_fields', f: builder %>
      <% end %>
    </ul>
    <%= link_to_add_fields "Add contact", f, :contacts, 'initNewFieldBlock' %>
  </div>

  <div class="group-emails">
    <a href="#" class="field-group" data-alt="edit emails">reorder emails</a>
    <h2>Emails</h2>
    <ul class="sortable">
      <%= f.simple_fields_for :emails do |builder| %>
        <%= render 'email_fields', f: builder %>
      <% end %>
    </ul>
    <%= link_to_add_fields "Add email", f, :emails, 'initNewFieldBlock' %>
  </div>
  
  <h2>Areas of law covered</h2>
  <p>Hold <key>CTRL</key> (or <key>CMD</key> on Mac) to select multiple items.</p>
  <%= f.association :areas_of_law, :collection => AreaOfLaw.all(:order => 'name') %>

  <div class="group-courts-facilities">
    <a href="#" class="field-group" data-alt="edit court facilities">reorder court facilities</a>
    <h2>Facilities</h2>
    <ul class="sortable">
      <%= f.simple_fields_for :court_facilities do |builder| %>
        <%= render 'court_facility_fields', f: builder %>
      <% end %>
    </ul>
    <%= link_to_add_fields "Add court facility", f, :court_facilities, 'initNewFieldBlock' %>
  </div>

  <% if current_user.admin %>
    <h2>Location of the court</h2>
    <p>Use these fields to plot the court on a map. You can get the latitude/longitude using <a href="http://itouchmap.com/latlong.html" rel="ext">itouchmap</a>.</p>
    <%= f.input :latitude, :wrapper_html => { :class => 'admin-only' } if current_user.admin %>
    <%= f.input :longitude, :wrapper_html => { :class => 'admin-only' } if current_user.admin %>
  <% end %>

  <h2>Further information</h2>
  <p><strong>Note:</strong> Not currently displayed.</p>
  <p>Please only add concise details about this particular court.</p>
  <%= f.input :info, :input_html => { :disabled => 'disabled' } %><%# Set :input_html :class back to 'ckeditor' when enabled %>

  <fieldset class="court-closed">
    <p>Un-check this box if this court is no longer in service. Use this rather than deleting the court, so that the web page still exists but informs the public this court is now closed.</p>
    <%= f.input :display %>
  </fieldset>

  <!-- Decomissioned fields -->
  <%#= f.association :court_types %>

  <div class="form-actions">
    <%= f.submit %>
  </div>
<% end %>
