<%= simple_form_for([:admin, @court]) do |f| %>
  <% if @court.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@court.errors.count, "error") %> prohibited this court from being saved:</h2>

      <ul>
      <% @court.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :name %>
  <%= f.input :court_number %>
  <%= f.input :slug %>
  <%= f.input :info %>
  <%= f.input :area_id %>
  <%= f.input :cci_identifier %>
  <%= f.input :cci_code %>
  <%= f.input :old_id %>
  <%= f.input :old_postal_address_id %>
  <%= f.input :old_court_address_id %>
  <%= f.input :old_court_type_id %>
  <%= f.input :area %>
  <%= f.input :address_id %>
  <%= f.input :old_address_postal_flag %>
  <%= f.input :address_line_1 %>
  <%= f.input :address_line_2 %>
  <%= f.input :address_line_3 %>
  <%= f.input :address_line_4 %>
  <%= f.input :postcode %>
  <%= f.input :dx_number %>
  <%= f.input :court_town_id %>
  <%= f.input :court_latitude %>
  <%= f.input :court_longitude %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
