= content_for :title, 'Manage all courts and tribunals'
%p
  Courts: #{@courts.count}
%p
  Areas of law: #{@areas_of_law.count}

= render 'court_nav'

%ul.tabs-nav.clearfix
  =a_to_z initial_list(@courts)
%div
  %div.fixed
    %h2 By area of law
    %table.areaOfLaw
      %thead
        %tr
          %th No.
          %th Name
          - @areas_of_law.each do |area_of_law|
            %th= area_of_law.name
          %th &nbsp;
      - @courts.each do |court|
        %tr
          = form_for([:admin, court], remote: true) do
            %td= court.court_number
            %td= court.name
            - @areas_of_law.each do |area_of_law|
              %td.c
                = check_box_tag 'court[area_of_law_ids][]', area_of_law.id, (court.remits.select {|remit| remit.area_of_law_id ==area_of_law.id}.size > 0 ? true : false), id: ['court_area_of_law_ids_', area_of_law.id].join
            %td
              = hidden_field_tag 'court[area_of_law_ids][]', ''
              %input.button{:type => "Submit", :value => "Save"}
