- content_for :title, 'Manage all courts and tribunals'
- content_for :court_counter, "Court types: #{@court_types.count}"
= render 'court_filters'
%div
  %div
    %h2 By court type
    %table.allcourts
      %tr
        %th No.
        %th Name
        - @court_types.each do |court_type|
          %th= court_type.name
        %th &nbsp;
      - @courts.each do |court|
        %tr
          = form_for([:admin, court], remote: true) do
            %td= court.court_number
            %td= court.name
            - @court_types.each do |court_type|
              %td.c
                = check_box_tag 'court[court_type_ids][]', court_type.id, (court.court_types.include? court_type)
            %td
              = hidden_field_tag 'court[court_type_ids][]', nil
              %input.button{type: 'Submit', value: 'Save'}

.pagination-row.cf
  .page-entries
    = page_entries_info @courts
  = will_paginate @courts
