<%= content_for :title, 'Listing courts and tribunals' %>

<%= link_to 'New court or tribunal', new_admin_court_path %>

<% letters = @courts.group_by{|s|s.name[0,1].upcase}.map {|letter|letter[0]} %>
<% letters.each do |letter| %>
  <ul class="tabs-nav">
    <li><%= link_to letter, "#courts-by-#{letter.downcase}" %></li>
  </ul>
<% end %>

<table>
  <tr>
    <th>Name</th>
    <th>Court or tribunal number</th>
    <th>CCI code</th>
    <th></th>
    <th></th>
    <% if current_user.admin %>
      <th class="admin-only"></th>
    <% end %>
  </tr>

<% last_letter = '' %>
<% @courts.each do |court| %>
  <% this_letter = court.name.first.downcase %>
  <tr>
    <td<%= (this_letter === last_letter ? '' : " id=\"courts-by-#{this_letter}\"").html_safe %>><%= court.name %></td>
    <td><%= court.court_number %></td>
    <td><%= court.cci_code %></td>
    <td><%= link_to 'Show', court_path(court) %></td>
    <td><%= link_to 'Edit', edit_admin_court_path(court) %></td>
    <% if current_user.admin %>
      <td class="admin-only"><%= link_to 'Delete', admin_court_path(court), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
  <% last_letter = this_letter %>
<% end %>
</table>
