<%= content_for :title, 'Listing Courts' %>

<%= link_to 'New Court', new_admin_court_path %>

<table>
  <tr>
    <th>Name</th>
    <th>Court number</th>
    <th>CCI code</th>
    <th></th>
    <th></th>
    <% if current_user.admin %>
      <th class="admin-only"></th>
    <% end %>
  </tr>

<% @courts.each do |court| %>
  <tr>
    <td><%= court.name %></td>
    <td><%= court.court_number %></td>
    <td><%= court.cci_code %></td>
    <td><%= link_to 'Show', court_path(court) %></td>
    <td><%= link_to 'Edit', edit_admin_court_path(court) %></td>
    <% if current_user.admin %>
      <td class="admin-only"><%= link_to 'Delete', admin_court_path(court), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>