= content_for :title, 'Manage All Courts'
%p
  Courts: #{@courts.count}
-#%p
  Areas of law: #{@postcode.count}

%div
  %div
    %ul
      %li
        %a{:href => areas_of_law_admin_courts_path} By areas of law
      %li
        %a{:href => court_types_admin_courts_path} By court type
      %li
        By post code
  %div
    %div
      %h2 By post code
      %table#js-pcode-tbl
        %thead
          %tr
            %th
              Court no.
            %th
              Court name
            %th
              Post codes
        %tbody
          - @courts.each do |court|
            %tr{:class => cycle('even', 'odd')}
              %td
                = court.court_number
              %td
                = link_to(court.name, "")
              %td
                = form_for [:admin, court], url: update_postcodes_admin_court_path(court), :data => {:remote => true}, method: :put, as: :court, html: {:class => "js-postcode-tag-form"} do |c|
                  = text_field_tag :postcodes, PostcodeCourt.where(:court_number => court.court_number).pluck(:postcode).sort.join(','), :class => 'js-tags'
                  -# = c.text_field 'court[postcode_court_ids][]', :class => 'tags' #area_of_law.id, (court.areas_of_law.include? area_of_law), id: ['court_area_of_law_ids_', area_of_law.id].join
                  -#= c.text_field :court_number, :class => 'tags'
                  = c.submit 'Save', :class => 'button right'

.pagination-row.cf
  .page-entries
    = page_entries_info @courts
  = will_paginate @courts
