<p id="notice"><%= notice %></p>

<%= link_to 'View this court', court_path(@court) %>

<p>
  <b>Name:</b>
  <%= @court.name %> (<%= @court.id %>)
</p>

<p>
  <b>Image:</b>
  <%= @court.image.to_s %>
  <b>Image file:</b>
  <%= image_tag @court.image_file, :width => '160px' %>
</p>

<p>
  <b>Court number:</b>
  <%= @court.court_number %>
</p>

<p>
  <b>Slug:</b>
  <%= @court.slug %>
</p>

<p>
  <b>Info:</b>
  <%= @court.info.html_safe %>
</p>

<p>
  <b>CCI Code:</b>
  <%= @court.cci_code %>
</p>

<p>
  <b>Latitude:</b>
  <%= @court.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @court.longitude %>
</p>

<p>
  <b>Area ID:</b>
  <%= @court.area_id %>
</p>

<p>
  <b>Old ID:</b>
  <%= @court.old_id %>
</p>

<p>
  <b>Old Court Type ID:</b>
  <%= @court.old_court_type_id %>
</p>


<%= link_to 'Edit', edit_admin_court_path(@court) %> |
<%= link_to 'Back', admin_courts_path %>
