<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @town.name %>
</p>

<p>
  <b>County:</b>
  <%= @town.county %>
</p>


<%= link_to 'Edit', edit_town_path(@town) %> |
<%= link_to 'Back', towns_path %>
