<h1>Editing user</h1>

<%= simple_form_for([:admin, @user]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :email %>
    <%= f.input :admin %>

    <% if current_user.admin? %>
      <%= f.input :password %>
      <%= f.input :password_confirmation %>
    <% end %>
  </div>

  <div class="form-actions form-actions--right">
    <%= f.button :submit %>
  </div>
<% end %>

<%= link_to 'Show', admin_user_path(@user) %> |
<%= link_to 'Back', admin_users_path %>
