<%= content_for :title, 'Listing Counties' %>

<%= link_to 'New County', new_admin_county_path %>

<table>
  <tr>
    <th>Name</th>
    <th>Country</th>
    <!-- <th></th> -->
    <th></th>
    <th></th>
  </tr>

<% @counties.each do |county| %>
  <tr>
    <td><%= county.name %></td>
    <td><%= county.country.name if county.country.present? %></td>
    <!-- <td><%#= link_to 'Show', admin_county_path(county) %></td> -->
    <td><%= link_to 'Edit', edit_admin_county_path(county) %></td>
    <td><%= link_to 'Delete', admin_county_path(county), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
