<%= content_for :title, 'Listing Areas of Law Groups' %>

<%= link_to 'New Area of Law Group', new_admin_areas_of_law_group_path %>

<table>
  <tr>
    <th>Name</th>
    <th>Slug</th>
    <th></th>
    <th></th>
  </tr>

<% @areas_of_law_group.each do |areas_of_law_group| %>
  <tr>
    <td><%= areas_of_law_group.name %></td>
    <td><%= areas_of_law_group.slug %></td>
    <td><%= link_to 'Edit', edit_admin_areas_of_law_group_path(areas_of_law_group) %></td>
    <td><%= link_to 'Delete', admin_areas_of_law_group_path(areas_of_law_group), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />
