<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8 " lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en" class=""><!--<![endif]-->
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />

	<%= render 'shared/head', :title => (content_for?(:title) ? yield(:title) + " - Gov.uk" : "GOV.UK - The best place to find government services and information") %>

	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-37377084-3', 'service.gov.uk');
		ga('send', 'pageview');
	</script>

	<%- if admin_area? %>
	<link href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.0/themes/base/jquery.ui.base.css" rel="stylesheet" type="text/css"/>
	<link href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.0/themes/base/jquery.ui.theme.css" rel="stylesheet" type="text/css"/>
	<% end %>
	<%= stylesheet_link_tag    "admin", :media => "all" if admin_area? %>
	<%= stylesheet_link_tag    "print", :media => "print" %>
	<%= javascript_include_tag "application" %>
	<%- if admin_area? %>
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.0/jquery-ui.min.js"></script>
	<%= javascript_include_tag "admin" %>
        <%= csrf_meta_tags %>
	<% end %>
	<!--[if lte IE 7]>
	<style type="text/css">
		.inner div.addresses{width:560px}
	</style>
	<![endif]-->
</head>

<body id="<%= controller.controller_name %>-<%= controller.action_name %>" class="<%= controller.controller_name %> beta">
	<script type="text/javascript">document.body.className = document.body.className + ' js-enabled';</script>

	<a href="#content" class="visuallyhidden">Skip to main content</a>

	<%= render 'shared/header' %>

	<div id="global-cookie-message">
		<p>GOV.UK uses cookies to make the site simpler. <a href="/support/cookies">Find out more about cookies</a></p>
	</div>
	<div id="global-browser-prompt">
		<p>For a safer, faster, better experience online you should upgrade your browser. <a href="/support/browsers">Find out more about browsers</a> <a href="#" class="dismiss" title="Dismiss this message">Close</a></p>
	</div>

	<%= render 'shared/phase_indicator' %>
	
	<% unless home_page? %>
	<div id="global-breadcrumb" class="header-context">
		<nav role="navigation">
			<%= render 'shared/admin_user' if admin_area? %>
			<ol class="group">
				<% unless admin_area? %>
					<li><a href="/">Home</a></li>
				<% end %>
				<%= yield :nav if content_for? :nav %>
			</ol>
		</nav>
	</div>
	<% end %>

	<div id="wrapper" class="group <%= yield :type %>">
		<section id="content" role="main" class="group" <%= yield :contentMetadata %>>
			<% if alert.present? %>
				<p class="alert"><%= alert %></p>
			<% end %>

			<header class="page-header group">
				<hgroup class="full-width">
					<%= yield :title_image %>
					<h1 <%= yield :titleMetadata %>>
						<%= "<span>Service</span> ".html_safe if home_page? %>
						<%= yield :title %>
					</h1>
				</hgroup>
			
			</header>

			<div class="browse-container full-width group">
				<article role="article" class="group">
					<div class="inner">
						
						<% if notice.present? %>
							<p id="user-notice"><%= notice %></p>
						<% end %>
						<%= yield %>

					</div>
				</article>
				
				<% if content_for?(:last_updated) %>
					<div class="meta-data group">
						<div class="inner">
							<p class="modified-date">Last updated: <%= yield :last_updated %></p>
						</div>
					</div>
				<% end %>
			</div>
		</section>
		
		<% if false %>
			<div class="related-positioning">
				<div class="related-container">

					<div class="related" id="related">
						<div class="inner group">
							<h2>Other relevant links</h2>
							<nav role="navigation">
								<ul>
									<li><a href="/tax-disc">Car tax (tax disc)</a></li>
									<li class="related-topic"><a href="/browse/driving">More from the <span>Driving, transport and travel</span> category</a></li>
								</ul>
							</nav>
							<nav role="navigation" class="return-to-top"><a href="#content">Return to top &uarr;</a></nav>
						</div>
						<div id="legacy-sources">
							<p>This replaces</p>
							<ul>
								<li class="directgov">Directgov</li>
								<li class="businesslink">Business Link</li>
							</ul>
						</div>
					</div>

				</div>
			</div>
		<% end %>

	</div>

	<%= render 'shared/footer' %>

	<div id="global-app-error" class="app-error hidden"></div>

	<%= yield :scripts %>
</body>
</html>
